body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
    background-color: #ffffff;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    margin-top: 50px;
}

.button-container,
.info-container {
    display: flex;
    align-items: center;
}

.button-container button,
.edit,
.delete,
.signup,
.login {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.button-container button,
.edit,
.delete
.signup,
.login {
    margin: 0 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}

.button-container button {
    background-color: #ff7e67;
    color: #ffffff;
}

.button-container button:hover {
    background-color: #ff5c39;
}

button.edit,
button.edit:active {
    border: 2px solid #ff7e67;
    padding: 10px;
    background-color: transparent;
    color: #ff7e67;
}

button.edit:hover {
    background-color: #ff7e67;
    color: #fff;
    border: 2px solid #fff;
}



button.delete,
button.delete:active {
    border: 2px solid #ff7e67;
    padding: 10px;
    background-color: transparent;
    color: #ff7e67;
}

button.delete:hover {
    background-color: #ff7e67;
    color: #fff;
    border: 2px solid #fff;
}

input {
    margin: 10 0;
    padding: 10px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(230, 232,)
}

.create,
.edit {
    border: 2px solid lightgreen;
    padding: 10px;
    background-color: transparent;
    color: lightgreen;
}

.create:hover,
.edit:hover {
    background-color: lightgreen;
    color: #fff;
}







/* -------------- list books */

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffd1dc;
    padding-bottom: 10px;
}

.list-item {
    /* width: 100%; */
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
}

.list-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.checkIcon {
    padding: 10px;
}

.checkIcon path{
    fill:none;
    stroke: #000;
    stroke-miterlimit:10;
    stroke-width:20px
}


/* --------------- modal ------------- */
.overlay{
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    background-color: rgb(255,255,255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.5) 0 6px 24px 0, rgba(0,0,0,0.08) 0 0 0 1px;
}

.modal .form-title-container{
    display: flex;
    justify-content: space-between;
}

.modal .form-title-container button{
    border: none;
    background-color: transparent;
}

.modal .form-title-container button:active{
    color: red
}

.modal form {
    display:flex;
    flex-direction: column;
}

.modal label {
    font-size: 12px
}


/* ------------------- auth------------- */


.auth-container-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;    

}

.auth-controller form{
    width:50%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

}

.auth-options button.signup,
.auth-options button.login{
    margin-top: 16px
}
