body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
    background-color: #ffffff;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    margin-top: 50px;
}

.button-container,
.info-container {
    display: flex;
    align-items: center;
}

.button-container button,
.edit,
.delete {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.button-container button,
.edit,
.delete {
    margin: 0 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}

.button-container button {
    background-color: #ff7e67;
    color: #ffffff;
}

.button-container button:hover {
    background-color: #ff5c39;
}

button.edit,
button.edit:active {
    border: 2px solid #ff7e67;
    padding: 10px;
    background-color: transparent;
    color: #ff7e67;
}

button.edit:hover {
    background-color: #ff7e67;
    color: #fff;
    border: 2px solid #fff;
}


button.delete,
button.delete:active {
    border: 2px solid #ff7e67;
    padding: 10px;
    background-color: transparent;
    color: #ff7e67;
}

button.delete:hover {
    background-color: #ff7e67;
    color: #fff;
    border: 2px solid #fff;
}







/* -------------- list books */

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffd1dc;
    padding-bottom: 10px;
}

.list-item {
    /* width: 100%; */
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
}

.list-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.checkIcon {
    padding: 10px;
}

.checkIcon path{
    fill:none;
    stroke: #000;
    stroke-miterlimit:10;
    stroke-width:20px
}